
*
{
    margin: 0;
    
}
.body
{
    background-color:grey;
}

#name
{
    position: center;
    font-size: 46px;
    justify-content: center;
    align-self: center;
    left: auto;
    display: flex;
    border: 2px solid #fff;
    background-color: crimson;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSro36Ir1UZiXWjJ3TTwt_0Q4h3v8Mka10PvcpE4y82aw&usqp=CAU&ec=48600113');

}
#image
{
    height: 800px;
    display: flex;
    flex-direction: row;
    left: 20%;
    border-radius: 30px;
   
}
.para
{
    margin: 24px;
}
.dish
{
    left: 0px;
}
